@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5DC;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #4A2E1F;
}

header input {
    margin-top: 10px;
    width: 70%;
    height: 7vh;

    border: solid 2px #A08479;
    border-radius: 20px;
    background-color: transparent;
    color: #A08479;
    padding: 0 35px;
    font-size: 1.2em;

    background-color: #a084793a;

    background-image: url(lupa.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 20px;

    transition: ease-in-out 600ms;
}

header input:focus {
    background-size: 0px;
    padding: 0 10px;
}

header input::placeholder {
    color: #A08479;
}

.carrinho {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2vh;
}

.carrinho button {
    width: 5vh;
    height: 5vh;
    border: none;
    background: none;
    font-size: 2em;
    color: #4A2E1F;
}

nav {
    padding: 0 30px;
    margin: 5vh 0;
}

nav .dividir {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: fit-content;
}

nav h2 {
    color: #4A2E1F;
    margin: 3vh 0;
}

nav .dividir a {
    width: 25vh;
    height: 10vh;
    background-color: #68564b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-radius: 10px;
    text-decoration: none;
}

nav .dividir a button {
    background-color: transparent;
    border: none;
    color: white;
}

nav .dividir a button i {
    font-size: 1.8em;
}


.box {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    margin-top: 20px;

    overflow-x: auto;
}

.box h2 {
    position: relative;
    justify-self: left;
    align-self: flex-start;
    color: #4A2E1F;
    margin: 0 0 0 5vh;
}

.linha {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 4vh;
}

.linha h2 {
    color: #4A2E1F;
}


.card {
    background-color: #a084793a;
    width: 90%;
    height: 15vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10px 5px;
    margin: 5px 0;
    border-radius: 20px;
}

.card button {
    border: none;
    background-color: transparent;
    color: #A08479;
    margin: 0 10px 0 0;
    font-size: 1em;
}

.card button:hover {
    color: #4A2E1F;
}

.card .text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 15px;
    margin: 0 -20vh;
}

.card .text h3 {
    color: #4A2E1F;
    font-size: 1.1em;
}

.card .text p {
    color: #A08479;
}

.card .text h3+p {
    text-align: justify;
}

.card .text h5 {
    color: #68564b;
    font-family: "Inter", sans-serif;
    font-size: 0.5em;
    display: none;
}


.card img {
    width: 12vh;
    height: 12vh;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    margin: 0 1vh 0 -10vh;
}

.body-sem-scroll {
    overflow: hidden;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease-out;
}

dialog {
    position: relative;
    align-self: center;
    justify-self: center;

    width: 60vh;
    height: 80vh;
    border-radius: 20px;
    border: none;
    background-color: #a08479e7;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

    opacity: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 15px 0;

    transform: translateY(20px) scale(0.95);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

dialog[open] {
    opacity: 1;
    transform: translateY(0) scale(1);
    animation: fadeInScale 0.3s ease-out forwards;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.773);
    animation: fadeInBackdrop 0.3s ease-out forwards;
}

/* Keyframes para a animação do backdrop */
@keyframes fadeInBackdrop {
    from {
        background-color: rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

dialog button {
    width: 30vh;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    position: absolute;
    bottom: 3vh;

    font-size: 1em;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    box-shadow: -2px 3px 5px #4A2E1F;
}

dialog .btnFechar {
    position: absolute;
    top: 2vh;
    right: 2vh;
    background-color: transparent;
    box-shadow: none;
    color: #68564b;
    width: 5vh;
    height: 5vh;
    font-size: 2em;
    text-align: center;
    font-weight: 300;
}

dialog img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

dialog h3 {
    margin: 2vh 0;
    color: white;
}

dialog input[type="number"] {
    width: 30%;
    height: 5vh;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin: 2vh;
}

dialog input[type="number"]:focus {
    border: solid 2px #4A2E1F;
}

dialog input[type="text"] {
    width: 90%;
    height: 15vh;
    margin: 2vh;
    border-radius: 10px;
    border: none;
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer h3 {
    color: #68564b;
}